<div>
    <h2 id="page-heading">
        <span jhiTranslate="autoEcoleApp.entraineur.home.title">Entraineurs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-entraineur" [routerLink]="['/entraineur/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="autoEcoleApp.entraineur.home.createLabel">
            Create new Entraineur
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'autoEcoleApp.entraineur.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="entraineurs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="photo"><span jhiTranslate="autoEcoleApp.entraineur.photo">Photo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nom"><span jhiTranslate="autoEcoleApp.entraineur.nom">Nom</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="prenom"><span jhiTranslate="autoEcoleApp.entraineur.prenom">Prenom</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="telephone"><span jhiTranslate="autoEcoleApp.entraineur.telephone">Telephone</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="compteLogin"><span jhiTranslate="autoEcoleApp.entraineur.compte">Compte</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let entraineur of entraineurs ;trackBy: trackId">
                <td><a [routerLink]="['/entraineur', entraineur.id, 'view' ]">{{entraineur.id}}</a></td>
                <td>
                    <a *ngIf="entraineur.photo" (click)="openFile(entraineur.photoContentType, entraineur.photo)">
                        <img [src]="'data:' + entraineur.photoContentType + ';base64,' + entraineur.photo" style="max-height: 30px;" alt="entraineur image"/>
                    </a>
                    <span *ngIf="entraineur.photo">{{entraineur.photoContentType}}, {{byteSize(entraineur.photo)}}</span>
                </td>
                <td>{{entraineur.nom}}</td>
                <td>{{entraineur.prenom}}</td>
                <td>{{entraineur.telephone}}</td>
                <td>
                    {{entraineur.compteLogin}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/entraineur', entraineur.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/entraineur', entraineur.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'entraineur', { outlets: { popup: entraineur.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="entraineurs && entraineurs.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
