<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="examenInfo">
            <h2><span jhiTranslate="autoEcoleV01App.examenInfo.detail.title">Examen Info</span> {{examenInfo.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="autoEcoleV01App.examenInfo.etat">Etat</span></dt>
                <dd>
                    <span jhiTranslate="{{'autoEcoleV01App.EtatExamen.' + examenInfo.etat}}">{{examenInfo.etat}}</span>
                </dd>
                <dt><span jhiTranslate="autoEcoleV01App.examenInfo.type">Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'autoEcoleV01App.TypeExamen.' + examenInfo.type}}">{{examenInfo.type}}</span>
                </dd>
                <dt><span jhiTranslate="autoEcoleV01App.examenInfo.examen">Examen</span></dt>
                <dd>
                    <div *ngIf="examenInfo.examenId">
                        <a [routerLink]="['/examen', examenInfo.examenId, 'view']">{{examenInfo.examenDateExamen}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="autoEcoleV01App.examenInfo.candidat">Candidat</span></dt>
                <dd>
                    <div *ngIf="examenInfo.candidatId">
                        <a [routerLink]="['/candidat', examenInfo.candidatId, 'view']">{{examenInfo.candidatId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/examen-info', examenInfo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
