<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="virement">
            <h2><span jhiTranslate="autoEcoleApp.virement.detail.title">Virement</span> {{virement.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="autoEcoleApp.virement.montant">Montant</span></dt>
                <dd>
                    <span>{{virement.montant}}</span>
                </dd>
                <dt><span jhiTranslate="autoEcoleApp.virement.dateVirement">Date Virement</span></dt>
                <dd>
                    <span>{{virement.dateVirement}}</span>
                </dd>
                <dt><span jhiTranslate="autoEcoleApp.virement.heurVirement">Heur Virement</span></dt>
                <dd>
                    <span>{{virement.heurVirement}}</span>
                </dd>
                <dt><span jhiTranslate="autoEcoleApp.virement.candidat">Candidat</span></dt>
                <dd>
                    <div *ngIf="virement.candidatId">
                        <a [routerLink]="['/candidat', virement.candidatId, 'view']">{{virement.candidatId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/virement', virement.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
