<div>
    <h2 id="page-heading">
        <span jhiTranslate="autoEcoleV01App.ecole.home.title">Ecoles</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ecole" [routerLink]="['/ecole/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="autoEcoleV01App.ecole.home.createLabel">
            Create new Ecole
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="ecoles">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="titreEcole"><span jhiTranslate="autoEcoleV01App.ecole.titreEcole">Titre Ecole</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="presidentNom"><span jhiTranslate="autoEcoleV01App.ecole.president">President</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ecole of ecoles ;trackBy: trackId">
                <td><a [routerLink]="['/ecole', ecole.id, 'view' ]">{{ecole.id}}</a></td>
                <td>{{ecole.titreEcole}}</td>
                <td>
                    <div *ngIf="ecole.presidentId">
                        <a [routerLink]="['../entraineur', ecole.presidentId , 'view' ]" >{{ecole.presidentNom}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/ecole', ecole.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/ecole', ecole.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'ecole', { outlets: { popup: ecole.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="ecoles && ecoles.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
