<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-examen-heading" jhiTranslate="autoEcoleApp.examen.home.createOrEditLabel">Create or edit a Examen</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!examen.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="examen.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="autoEcoleApp.examen.dateExamen" for="field_dateExamen">Date Examen</label>
                    <div class="input-group">
                        <input id="field_dateExamen" type="text" class="form-control" name="dateExamen" ngbDatepicker  #dateExamenDp="ngbDatepicker" [(ngModel)]="examen.dateExamen"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateExamenDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.dateExamen?.dirty && editForm.controls.dateExamen?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.dateExamen?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="autoEcoleApp.examen.voiture" for="field_voiture">Voiture</label>
                    <select class="form-control" id="field_voiture" name="voiture" [(ngModel)]="examen.voitureId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="carOption.id" *ngFor="let carOption of cars; trackBy: trackCarById">{{carOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="autoEcoleApp.examen.examinateur" for="field_examinateur">Examinateur</label>
                    <select class="form-control" id="field_examinateur" name="examinateur" [(ngModel)]="examen.examinateurId"  required>
                        <option *ngIf="!editForm.value.examinateur" [ngValue]="null" selected></option>
                        <option [ngValue]="examinateurOption.id" *ngFor="let examinateurOption of examinateurs; trackBy: trackExaminateurById">{{examinateurOption.id}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.examinateur?.dirty && editForm.controls.examinateur?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.examinateur?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
