<div>
    <h2 id="page-heading">
        <span jhiTranslate="autoEcoleV01App.examen.home.title">Examen</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-examen" [routerLink]="['/examen/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="autoEcoleV01App.examen.home.createLabel">
            Create new Examen
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="examen">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateExamen"><span jhiTranslate="autoEcoleV01App.examen.dateExamen">Date Examen</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="voitureMarque"><span jhiTranslate="autoEcoleV01App.examen.voiture">Voiture</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="examinateurNom"><span jhiTranslate="autoEcoleV01App.examen.examinateur">Examinateur</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let examen of examen ;trackBy: trackId">
                <td><a [routerLink]="['/examen', examen.id, 'view' ]">{{examen.id}}</a></td>
                <td>{{examen.dateExamen | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="examen.voitureId">
                        <a [routerLink]="['../car', examen.voitureId , 'view' ]" >{{examen.voitureMarque}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="examen.examinateurId">
                        <a [routerLink]="['../examinateur', examen.examinateurId , 'view' ]" >{{examen.examinateurNom}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/examen', examen.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/examen', examen.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'examen', { outlets: { popup: examen.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="examen && examen.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
