<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="lesson">
            <h2><span jhiTranslate="autoEcoleApp.lesson.detail.title">Lesson</span> {{lesson.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="autoEcoleApp.lesson.typeLesson">Type Lesson</span></dt>
                <dd>
                    <span jhiTranslate="{{'autoEcoleApp.TypeLesson.' + lesson.typeLesson}}">{{lesson.typeLesson}}</span>
                </dd>
                <dt><span jhiTranslate="autoEcoleApp.lesson.dateLesson">Date Lesson</span></dt>
                <dd>
                    <span>{{lesson.dateLesson}}</span>
                </dd>
                <dt><span jhiTranslate="autoEcoleApp.lesson.heurLesson">Heur Lesson</span></dt>
                <dd>
                    <span>{{lesson.heurLesson}}</span>
                </dd>
                <dt><span jhiTranslate="autoEcoleApp.lesson.candidat">Candidat</span></dt>
                <dd>
                    <div *ngIf="lesson.candidatId">
                        <a [routerLink]="['/candidat', lesson.candidatId, 'view']">{{lesson.candidatId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="autoEcoleApp.lesson.voiture">Voiture</span></dt>
                <dd>
                    <div *ngIf="lesson.voitureId">
                        <a [routerLink]="['/car', lesson.voitureId, 'view']">{{lesson.voitureId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="autoEcoleApp.lesson.entraineur">Entraineur</span></dt>
                <dd>
                    <div *ngIf="lesson.entraineurId">
                        <a [routerLink]="['/entraineur', lesson.entraineurId, 'view']">{{lesson.entraineurId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/lesson', lesson.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
