<div>
    <h2 id="page-heading">
        <span jhiTranslate="autoEcoleV01App.candidat.home.title">Candidats</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-candidat"
            [routerLink]="['/candidat/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span jhiTranslate="autoEcoleV01App.candidat.home.createLabel">
                Create new Candidat
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br />
    <div >
        <div  class="row">
            <div  *ngFor="let candidat of candidats;trackBy: trackId" class="col-sm-3 mb-4">
                <div class="card" style="min-height: 100%;">
                    <a *ngIf="candidat.photo" (click)="openFile(candidat.photoContentType, candidat.photo)">
                        <img [src]="'data:' + candidat.photoContentType + ';base64,' + candidat.photo"
                            style="max-height: 400px; min-height: 400px; min-width: 80%; max-width: 80%;margin-left: 10%;" class="card-img-top" alt="candidat image" />
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
           
        </div>

    </div>
    <div class="table-responsive" *ngIf="candidats">
        <table class="table table-striped">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="photo"><span jhiTranslate="autoEcoleV01App.candidat.photo">Photo</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="nom"><span jhiTranslate="autoEcoleV01App.candidat.nom">Nom</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="prenom"><span jhiTranslate="autoEcoleV01App.candidat.prenom">Prenom</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="pere"><span jhiTranslate="autoEcoleV01App.candidat.pere">Pere</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="mere"><span jhiTranslate="autoEcoleV01App.candidat.mere">Mere</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="telephone"><span jhiTranslate="autoEcoleV01App.candidat.telephone">Telephone</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="dateInscription"><span jhiTranslate="autoEcoleV01App.candidat.dateInscription">Date
                            Inscription</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="dateNaissance"><span jhiTranslate="autoEcoleV01App.candidat.dateNaissance">Date
                            Naissance</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="lieuNaissance"><span jhiTranslate="autoEcoleV01App.candidat.lieuNaissance">Lieu
                            Naissance</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="nationalite"><span
                            jhiTranslate="autoEcoleV01App.candidat.nationalite">Nationalite</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="adresse"><span jhiTranslate="autoEcoleV01App.candidat.adresse">Adresse</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="nid"><span jhiTranslate="autoEcoleV01App.candidat.nid">Nid</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let candidat of candidats ;trackBy: trackId">
                    <td><a [routerLink]="['/candidat', candidat.id, 'view' ]">{{candidat.id}}</a></td>
                    <td>
                        <a *ngIf="candidat.photo" (click)="openFile(candidat.photoContentType, candidat.photo)">
                            <img [src]="'data:' + candidat.photoContentType + ';base64,' + candidat.photo"
                                style="max-height: 30px;" alt="candidat image" />
                        </a>
                        <span *ngIf="candidat.photo">{{candidat.photoContentType}}, {{byteSize(candidat.photo)}}</span>
                    </td>
                    <td>{{candidat.nom}}</td>
                    <td>{{candidat.prenom}}</td>
                    <td>{{candidat.pere}}</td>
                    <td>{{candidat.mere}}</td>
                    <td>{{candidat.telephone}}</td>
                    <td>{{candidat.dateInscription | date:'mediumDate'}}</td>
                    <td>{{candidat.dateNaissance | date:'mediumDate'}}</td>
                    <td>{{candidat.lieuNaissance}}</td>
                    <td jhiTranslate="{{'autoEcoleV01App.Nationalite.' + candidat.nationalite}}">
                        {{candidat.nationalite}}</td>
                    <td>{{candidat.adresse}}</td>
                    <td>{{candidat.nid}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" [routerLink]="['/candidat', candidat.id, 'view' ]"
                                class="btn btn-info btn-sm">
                                <fa-icon [icon]="'eye'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>
                            <button type="submit" [routerLink]="['/candidat', candidat.id, 'edit']"
                                class="btn btn-primary btn-sm">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                            <button type="submit"
                                [routerLink]="['/', 'candidat', { outlets: { popup: candidat.id + '/delete'} }]"
                                replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                                <fa-icon [icon]="'times'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="candidats && candidats.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage">
            </jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
